@font-face {
    font-family: "Nexa";
    src: url(/static/fonts/Nexa-Book.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nexa-Bold";
    src: url(/static/fonts/Nexa-Bold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nexa-Black";
    src: url(/static/fonts/Nexa-Black.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

main {
    flex: 1;
}

/* adding decorative stripes to the very top of the page */
.topborder_black {
    background-color: black;
    height: 25px;
    flex-shrink: 0;
}

.topborder_blue {
    background-color: #19469e;
    height: 5px;
    flex-shrink: 0;
}

/* making edits to the top navigation bar */
.topnav {
    background-color: white;
    overflow: hidden;
    width: 100%;
    flex-shrink: 0;
    height: 135px;
}

.topnav a {
    float: left;
    line-height: 100px;
    color: black;
    text-align: left;
    padding: 15px 65px;
    text-decoration: none;
    font-size: 23px;
    font-family: "Nexa", "Arial";
}

.topnav a:hover {
    color: #5f617d;
}

/* making edits to the bottom navigation bar */
footer {
    background-color: #373840;
    height: 300px;
    flex-shrink: 0;
}

footer a {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 10px;
    font-family: "Nexa", "Arial";
}

footer a:hover {
    color: #cacbd9;
}

.header_main {
    margin: 0;
    text-align: left;
    font-size: 65px;
    background:
        /* linear-gradient(to right, rgba(202, 203, 217, 0.75), rgba(255, 255, 255, 0)), */
        url("images/IV_drip.jpg") no-repeat top center;
    background-size: cover;
    padding: 100px 0px 0px 100px; /* top right bottom left */
    font-family: "Nexa", "Arial";
}

.header_main h1 {
    margin: 0; /* removes the default h1 margin */
}

.header_main .subtext {
    margin: 0;
    text-align: left;
    font-size: 25px;
    padding: 0px 0px 100px 0px;
}

.header {
    padding: 100px;
    text-align: center;
    background-color: #cacbd9;
    font-size: 75px;
    font-family: "Nexa", "Arial";
}

.p1 {
    padding: 50px 100px;
    font-size: 25px;
    font-family: "Nexa", "Arial";
    text-align: justify;
}

/* working on the meet the team formatting */
.img_team_center {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 50px 250px 0px;
}

.img_team_center img {
    border: 5px solid #cacbd9;
    width: 100%;
}

.img_team_center .text {
    width: 100%;
}

.img_team_center .name {
    font-size: 35px;
    font-family: "Nexa", "Arial";
}

.img_team_center .title {
    font-size: 25px;
    font-family: "Nexa", "Arial";
    color: #5f617d;
}

.img_team_center .description {
    font-size: 20px;
    font-family: "Nexa", "Arial";
    padding: 25px 0px;
}

.img_team_column {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    padding: 25px 100px;
}

.img_team_column img {
    border: 5px solid #cacbd9;
    width: 100%;
}

.img_team_column .text {
    width: 100%;
}

.img_team_column .name {
    font-size: 35px;
    font-family: "Nexa", "Arial";
}

.img_team_column .title {
    font-size: 25px;
    font-family: "Nexa", "Arial";
    color: #5f617d;
}

.img_team_column .description {
    font-size: 20px;
    font-family: "Nexa", "Arial";
    padding: 25px 0px 0px 0px;
}

.header_small {
    padding: 25px;
    text-align: center;
    background-color: #5f617d;
    font-size: 45px;
    font-family: "Nexa", "Arial";
}

.img_contributors {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 25px 50px;
    justify-content: center;
}

.image_homepage {
    display: flex
    align-items: flex-start;
    gap: 25px;
    padding: 50px 50px;
    justify-content: center;
    background-color: #5f617d;
    font-size: 25px;
    font-family: "Nexa", "Arial";
}

.iv_equipment {
    width: 100vw;
    height: 525px;
    background: url("images/IV_Equipment_Long.jpeg") no-repeat top center;
    background-size: cover;
}

.iv_equipment .text1{
    font-family: "Nexa", "Arial";
    text-align: right;
    font-size: 35px;
    padding: 180px 150px 10px 10px;
}

.iv_equipment .text2{
    font-family: "Nexa-Black", "Arial";
    text-align: right;
    font-size: 50px;
    padding: 0px 175px 10px 10px;
}

.iv_diagram {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.iv_diagram .text {
    font-family: "Nexa", "Arial";
    text-align: left;
    font-size: 30px;
    padding: 0px 150px 0px 50px;
}

.iv_diagram .image {
    padding: 0px 0px 0px 100px;
}

.iv_diagram .text2 {
    font-family: "Nexa", "Arial";
    text-align: left;
    font-size: 25px;
    padding: 100px 150px 100px 50px;
}

.heading {
    font-family: "Nexa-Bold", "Arial";
    text-align: left;
    font-size: 45px;
    padding: 50px 0px 0px 100px;
}

.trio_boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px 100px 100px 100px;
}

.box {
    background-color: #19469e;
    font-family: "Nexa", "Arial";
    font-size: 30px;
    color: white;
    border-radius: 15px;
    height: 100px;
    padding: 50px 10px 50px 10px;
    text-align: center;
}

hr {
    border: none;
    height: 3px;
    margin: 0;
    left-margin: 100px;
    color: black;
}