@font-face {
    font-family: "Nexa";
    src: url(/static/fonts/Nexa-Book.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

main {
    flex: 1;
}

/* adding a black stripe to the very top of the page */
.topborder {
    background-color: black;
    height: 10px;
    flex-shrink: 0;
}

/* making edits to the top navigation bar */
.topnav {
    background-color:#373840;
    overflow: hidden;
    width: 100%;
    flex-shrink: 0;
    height: 130px;
}

.topnav a {
    float: left;
    line-height: 100px;
    color: #f2f2f2;
    text-align: left;
    padding: 15px 65px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Nexa", "Arial";
}

.topnav a:hover {
    color: #5f617d;
}

/* making edits to the bottom navigation bar */
footer {
    background-color: #373840;
    height: 300px;
    flex-shrink: 0;
}

footer a {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 10px;
    font-family: "Nexa", "Arial";
}

footer a:hover {
    color: #cacbd9;
}

.header {
    padding: 100px;
    text-align: center;
    background-color: #cacbd9;
    font-size: 75px;
    font-family: "Nexa", "Arial";
}

.p1 {
    padding: 50px;
    font-size: 25px;
    font-family: "Nexa", "Arial";
}

/* working on the meet the team formatting */
.img_team_center {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 50px 250px 0px;
}

.img_team_center img {
    border: 5px solid #cacbd9;
    width: 100%;
}

.img_team_center .text {
    width: 100%;
}

.img_team_center .name {
    font-size: 35px;
    font-family: "Nexa", "Arial";
}

.img_team_center .title {
    font-size: 25px;
    font-family: "Nexa", "Arial";
    color: #5f617d;
}

.img_team_center .description {
    font-size: 20px;
    font-family: "Nexa", "Arial";
    padding: 25px 0px;
}

.img_team_column {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    padding: 25px 50px;
}

.img_team_column img {
    border: 5px solid #cacbd9;
    width: 100%;
}

.img_team_column .text {
    width: 100%;
}

.img_team_column .name {
    font-size: 35px;
    font-family: "Nexa", "Arial";
}

.img_team_column .title {
    font-size: 25px;
    font-family: "Nexa", "Arial";
    color: #5f617d;
}

.img_team_column .description {
    font-size: 20px;
    font-family: "Nexa", "Arial";
    padding: 25px 0px;
}

.header_small {
    padding: 25px;
    text-align: center;
    background-color: #5f617d;
    font-size: 45px;
    font-family: "Nexa", "Arial";
}

.img_contributors {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 25px 50px;
    justify-content: center;
}

.image_homepage {
    display: flex
    align-items: flex-start;
    gap: 25px;
    padding: 50px 50px;
    justify-content: center;
    background-color: #5f617d;
    font-size: 25px;
    font-family: "Nexa", "Arial";
}