.header {
    padding: 75px;
    text-align: center;
    background-color: #b8cffc;
    font-size: 75px;
    font-family: "Gill Sans", "Avenir Medium";
}

/* working on the meet the team formatting */
.img_team_center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 5%;
    padding: 1% 0%;
}
.img_team_center img {
    border: 5px solid #b8cffc;
}
.img_team_center .text {
    width: 50%;
}
.img_team_center .name {
    font-size: 35px;
    font-family: "Avenir Medium";
}
.img_team_center .title {
    font-size: 25px;
    font-family: "Avenir Medium";
    color: #51588c;
}
.img_team_center .description {
    font-size: 20px;
    font-family: "Avenir Medium";
    padding: 1% 0%;
}

.header_small {
    padding: 25px;
    text-align: center;
    background-color: #51588c;
    font-size: 45px;
    font-family: "Avenir Medium";
}

/* General formatting items */
body {
    margin: 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

main {
    flex: 1;
}

/* adding decorative stripes to the very top of the page */
.topborder_black {
    background-color: black;
    height: 25px;
    flex-shrink: 0;
}
.topborder_blue {
    background-color: #19469e;
    height: 5px;
    flex-shrink: 0;
}

/* making edits to the top navigation bar */
.topnav {
    background-color: white;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.topnav .links {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.topnav .links a {
    text-decoration: none;
    color: #061d4a;
    font-size: 18px;
    font-family: "Avenir Medium";
}
.topnav .links a:hover {
    color: #51588c;
}
.topnav .contact a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: "Avenir Medium";
    padding: 10px 30px;
    background-color: #427ced;
    border-radius: 20px;
}

/* making edits to the bottom navigation bar */
.footer {
    background-color: #061d4a;
    height: 25%;
    display: flex;
    gap: 5%;
    padding: 2.5%;
}
.footer .logo {
    width: 20%;
    color: white;
    font-family: "Avenir Medium";
    font-size: 20px;
}
.footer .links {
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.footer .links a {
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    font-family: "Avenir Medium";
}
.footer .links a:hover {
    color: #b8cffc;
}