{% extends "base.html" %}

{% block content %}
    <body>
        <div class="header_main">
<!--            <h1>IV-SAFE</h1>-->
            <img src="{{ url_for('static', filename='images/logo_text_only.png') }}" alt="IV" style="width:auto;height:150px">
            <div class="subtext">
                A low-cost, non-electrical solution to IV failure. <br> Protecting patients and care providers alike.
            </div>
        </div>

        <div class="p1">
            Approximately 90% of patients in the United States receive PIV therapy during their hospital stays. And yet
            50% of all IVs fail. The burden is even greater with young patients: failure is greater than 90% in neonates
            and greater than 60% in children.
        </div>

        <div class="iv_equipment">
            <div class="text1">
                IVs are the cornerstone <br>of modern medical care.
            </div>
            <div class="text2">
                But they fail.
            </div>
        </div>

        <div class="p1">
            When IV infilration occurs, the administered fluid begins to leak out of the vein and into the surrounding tissue.
            Minor infiltration events lead to swelling, blistering, and pain. However, severe cases can lead to tissue
            necrosis, amputation, and even death.
        </div>

        <div class="iv_diagram">
            <div class="image">
                <img src="{{ url_for('static', filename='images/healthy_iv.png') }}" alt="IV" style="width:auto;height:300px">
            </div>
            <div class="text">A healthy IV conforms to the shape of the vein and inputs fluid directly into the bloodstream.</div>

            <div class="image">
                <img src="{{ url_for('static', filename='images/failed_iv_1.png') }}" alt="IV" style="width:auto;height:300px">
            </div>
            <div class="text">An IV can fail by puncturing through the vein...</div>

            <div class="image">
                <img src="{{ url_for('static', filename='images/failed_iv_2.png') }}" alt="IV" style="width:auto;height:300px">
            </div>
            <div class="text">...or by pulling backwards out of it.</div>
        </div>

        <div class="p1">
            Currently, IV infiltration is detected by visually by nurses, or by the patient alerting the medical staff
            of discomfort. Nurses can easily miss infiltrations due to limited staffing, limited time with the patient,
            or poor lighting. However, children and neonates may not be able to communicate adequately, and thus IV
            infiltration may go unnoticed for prolonged periods and increase the risk of complications and severe injury.
        </div>
    </body>
{% endblock %}


