{% extends "base.html" %}

{% block content %}
    <body>
        <div class="header">
            <h1>IV-Safe</h1>
        </div>

        <p class="p1">
            Here is a general summary about IV-Safe and why it's important. This is probably going to be pretty
            long, and walk through why we initially found the project interesting - like what Greg was discussing
            about realizing why the work was relevant not only in countries that had few nurses and no electricity,
            but also why it is and continues to be relevant in all countries across the world.
        </p>
    </body>
{% endblock %}


