<!--this is the homepage-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IV-Safe</title>
        <link rel="icon" type="image/x-icon" href="images/favicon.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    </head>
    <body>

    <div class="topnav">
        <a class="active" href="homepage.html">Home</a>
        <a href="leakage.html">Leakage</a>
        <a href="swelling.html">Swelling</a>
        <a href="team.html">Team</a>
        <a href="about.html">About</a>
    </div>

        <h1>
            Homepage
        </h1>
    </body>
</html>


