{% extends "base.html" %}

{% block content %}
    <body>
        <div class="header">Leakage</div>
        <div class="p1">
            When IV infiltration occurs, fluid from the IV can begin to leak out of the puncture site and onto the
            surface of the skin. A cellulose detection pad absorbs this leaked medication and changes color: an
            indication to the patient and staff that the IV has failed. Dye color change is visible at ~0.1mL infiltrated
            fluid, therefore leakage events are caught early before they become serious.
        </div>

        <div class="image_homepage">
            <img src="{{ url_for('static', filename='images/Leakage_Layers.png') }}" alt="IV" style="width:auto;height:300px">
        </div>

        <div class="image_homepage">
            <img src="{{ url_for('static', filename='images/Leakage_IV_Normal.png') }}" alt="IV" style="width:auto;height:300px">
            <img src="{{ url_for('static', filename='images/Leakage_IV_Failed.png') }}" alt="IV" style="width:auto;height:300px">
        </div>
    </body>
{% endblock %}