{% extends "base.html" %}

{% block content %}
    <body>
        <div class="header_swelling"><b>SWELLING</b></div>

        <div class="subheading_left">HOW DO WE KNOW?</div>
        <div class="heading_left"><b>Primary Symptoms</b></div>
        <hr.left>

        <div class="leakage_content">
            <div class="text_left">
                Swelling is one of the first symptoms of IV failure, however it can be difficult to detect visually. Swelling
                occurs due to a buildup of fluid under the skin and inflammation due to contact with the infiltrating medicine.
                IV-Safe detects swelling by utilizing a material that changes color upon stretching. The material is objective,
                unlike a visual assessment. It will be able to detect even small swelling changes localized to the IV site.
            </div>
            <div class="image_right">
                <img src="{{ url_for('static', filename='images/IV_Equipment_Shape.png') }}" alt="IV" style="width:auto;height:350px">
            </div>
        </div>

        <div class="subheading_right">NEXT STEPS</div>
        <div class="heading_right"><b>Our Solution</b></div>
        <hr.right>

        <div class="leakage_content">
            <div class="image_left">
                <img src="{{ url_for('static', filename='images/Swelling_Layers.png') }}" alt="IV" style="width:auto;height:250px">
            </div>
            <div class="text_right">
                Swelling is one of the first symptoms of IV failure, however it can be difficult to detect visually. Swelling
                occurs due to a buildup of fluid under the skin and inflammation due to contact with the infiltrating medicine.
                IV-Safe detects swelling by utilizing a material that changes color upon stretching. The material is objective,
                unlike a visual assessment. It will be able to detect even small swelling changes localized to the IV site.
            </div>
        </div>

        <div class="image_homepage">
            <img src="{{ url_for('static', filename='images/Swelling_IV_Normal.png') }}" alt="IV" style="width:auto;height:300px">
            <img src="{{ url_for('static', filename='images/Swelling_IV_Failed.png') }}" alt="IV" style="width:auto;height:300px">
        </div>
    </body>
{% endblock %}