{% extends "base.html" %}

{% block content %}
    <body>
        <div class="header_swelling"><b>SWELLING</b></div>

        <div class="content_left">
            <div class="subheading_left">HOW DO WE KNOW?</div>
            <div class="heading_left">
                <b>Primary Symptoms</b>
                <hr>
            </div>
        </div>

        <div class="leakage_content">
            <div class="text_left">
                Swelling is one of the first symptoms of IV failure, though it is difficult to detect visually.
                <br><br>
                Swelling occurs first due to the buildup of fluid under the skin — a localized edema — then increases due to inflammation
                from the infiltrating medication's contact with the tissue.
                <br><br>
                Our solution is objective: it detects even small swelling changes localized to the IV site.
            </div>
            <div class="image_right">
                <img src="{{ url_for('static', filename='images/Swelling_Lab.jpeg') }}" alt="IV" style="width:100%;height:auto">
            </div>
        </div>

        <div class="content_right">
            <div class="subheading_right">NEXT STEPS</div>
            <div class="heading_right">
                <b>Our Solution</b>
                <hr>
            </div>
        </div>

        <div class="leakage_content">
            <div class="image_left">
                <img src="{{ url_for('static', filename='images/Swelling_Layers.png') }}" alt="IV" style="width:100%;height:auto">
            </div>
            <div class="text_right">
                When swelling occurs, the IV patch atop the skin stretches slightly.
                <br><br>
                With this small physical change, the mechanochromic swelling detector changes color, illuminating to
                care providers that there is irritation at the IV site.
                <br><br>
                An adhesive coating and flexible adhesive film adhere the swelling patch to the skin, and ensure that
                the IV needle stays in place.
            </div>
        </div>

        <div class="construction">
            <div>
                Thanks for visiting! This website is currently under construction.
                <br> Contact us at info@iv-safe.com with any questions.
            </div>
            <div><img src="{{ url_for('static', filename='images/hardhat.png') }}" alt="IV" style="width:auto;height:75px"></div>
        </div>

        <br>

        <!--
        <div class="image_homepage">
            <img src="{{ url_for('static', filename='images/Swelling_IV_Normal.png') }}" alt="IV" style="width:auto;height:300px">
            <img src="{{ url_for('static', filename='images/Swelling_IV_Failed.png') }}" alt="IV" style="width:auto;height:300px">
        </div>

        -->

    </body>
{% endblock %}