{% extends "base.html" %}

{% block content %}
    <body>
        <div class="header">
            <h1>Meet the Team</h1>
        </div>

        <div class="img_team_center">
            <div class="image">
                <img src="{{ url_for('static', filename='images/LorenzoG.jpeg') }}" alt="IV" style="width:350px;height:350px">
            </div>
            <div class="text">
                <div class="name">Lorenzo Guio</div>
            <div class="title">FOUNDER + CEO</div>
            <div class="description">Lorenzo founded IV-Safe in XXXX, his original passion stemmed from XXXX, he has an
                BS and PhD in materials science and engineering, so on and so forth.</div>
            </div>
        </div>

            <img src="{{ url_for('static', filename='images/GregV.jpeg') }}" alt="IV" style="width:350px;height:350px">
            <img src="{{ url_for('static', filename='images/CameronR.jpg') }}" alt="IV" style="width:350px;height:350px">
            <img src="{{ url_for('static', filename='images/ElenaB.jpg') }}" alt="IV" style="width:350px;height:350px">
            <img src="{{ url_for('static', filename='images/LynnR.jpg') }}" alt="IV" style="width:350px;height:350px">
            <img src="{{ url_for('static', filename='images/MeganS.jpeg') }}" alt="IV" style="width:350px;height:350px">
            <img src="{{ url_for('static', filename='images/WrenK.jpeg') }}" alt="IV" style="width:350px;height:350px">
            <img src="{{ url_for('static', filename='images/WrenK.jpeg') }}" alt="IV" style="width:350px;height:350px">
            <img src="{{ url_for('static', filename='images/WrenK.jpeg') }}" alt="IV" style="width:350px;height:350px">

        </h1>
    </body>
{% endblock %}