{% extends "base.html" %}

{% block content %}
    <body>
        <div class="header"><b>MEET OUR TEAM</b></div>

        <div class="header_small">Leadership</div>

        <div class="img_team_center">
            <div class="image">
                <img src="{{ url_for('static', filename='images/LorenzoG.jpeg') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Lorenzo Guio, PhD</div>
                <div class="title">FOUNDER + CEO</div>
                <div class="description">Lorenzo founded IV-Safe in XXXX, his original passion stemmed from XXXX, he has an
                BS and PhD in materials science and engineering. Manages strategy, meeting, connections, etc.</div>
            </div>
        </div>

        <div class="img_team_column">
            <div class="image">
                <img src="{{ url_for('static', filename='images/GregV.jpeg') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Gregory Valentine, MD, MEd</div>
                <div class="title">CO-FOUNDER + CLINICAL LEAD</div>
                <div class="description">Gregory is a clinician through UW medicine, he specializes in neonatology, he works
                primarily in ___ part of Africa to improve medical care in areas with limited staffing and no access to
                electricity.</div>
            </div>

            <div class="image">
                <img src="{{ url_for('static', filename='images/CameronR.jpg') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Cameron Renteria, PhD</div>
                <div class="title">LEAD ENGINEER</div>
                <div class="description">Cameron is an NIH postdoctoral fellow with a co-appointment in the school of
                    dentistry. He received his BS and PhD in Materials Science and Engineering from the University of
                    Washington.</div>
            </div>
        </div>

        <div class="header_small">Clinical Consultants</div>

        <div class="img_team_column">
            <div class="image">
                <img src="{{ url_for('static', filename='images/ElenaB.jpg') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Elena Bosque, PhD, ARNP</div>
                <div class="title">CONTENT EXPERT</div>
                <div class="description">Elena is a neonatal nurse practitioner at Seattle Children's.</div>
            </div>

            <div class="image">
                <img src="{{ url_for('static', filename='images/LynnR.jpg') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Lynn Rose, PhD</div>
               <div class="title">FDA CONSULTANT</div>
                <div class="description">Lynn is an associate professor at the University of Washington, Seattle School of
                Pharmacy.</div>
            </div>
        </div>

        <div class="img_team_column">
            <div class="image">
                <img src="{{ url_for('static', filename='images/MeganS.jpeg') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Megan Stimpson, <br>DNP, RN</div>
                <div class="title">NURSE SPECIALIST</div>
                <div class="description">Megan is a nurse at <br> Seattle Children's who works <br> with... so on and so forth.</div>
            </div>
        </div>

        <div class="header_small">Staff</div>

        <div class="img_team_column">
            <div class="image">
                <img src="{{ url_for('static', filename='images/SurbhiK.jpeg') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Surbhi Kakar</div>
                <div class="title">MATERIALS SCIENCE + ENGINEERING MS</div>
                <div class="description">Surbhi is a Masters Student in Materials Science and Engineering. She leads the
                Swelling Team, coordinating project meetings and future procedures.</div>
            </div>

            <div class="image">
                <img src="{{ url_for('static', filename='images/NoahT.jpeg') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Noah Tanner</div>
                <div class="title">MECHANICAL ENGINEERING MS</div>
                <div class="description">Noah is a Masters Student in Mechanical Engineering. He leads the Active Alarm
                Project and all collaboration with the Electrical Engineering Department.</div>
            </div>
        </div>

        <div class="img_team_column">
            <div class="image">
                <img src="{{ url_for('static', filename='images/WrenK.jpeg') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Aditya Goparaju</div>
                <div class="title">BIOENGINEERING BS</div>
                <div class="description">Aditya is an undergraduate in bioengineering, shadowing, consulting with
                    practitioners and hospital financial committees.</div>
            </div>

            <div class="image">
                <img src="{{ url_for('static', filename='images/SophieS.jpg') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Sophie De Mello e Souza</div>
                <div class="title">BIOMECHANICAL ENGINEERING BS</div>
                <div class="description">Sophie is an undergraduate in Biomechanical Engineering. She works with industry
                connections to further Leakage benchtop models.</div>
            </div>
        </div>

        <div class="img_team_column">
            <div class="image">
                <img src="{{ url_for('static', filename='images/WrenK.jpeg') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Wren Kitchings</div>
                <div class="title">BIOENGINEERING BS</div>
                <div class="description">Wren is an undergraduate in Bioengineering and Nanomolecular Engineering at the
                    UW. She researches the impact of IV failure on the interstitial fluid, assists on the swelling
                    project, and performs website design.</div>
            </div>

            <div class="image">
                <img src="{{ url_for('static', filename='images/HeshamK.JPG') }}" alt="IV" style="width:300px;height:300px">
            </div>
            <div class="text">
                <div class="name">Hesham Katabi</div>
                <div class="title">BIOENGINEERING BS</div>
                <div class="description">Hesham is an undergraduate in Bioengineering at the UW with a specialization in
                    Data Science and AI. He designs and modifies lab models to improve <i>in vitro</i> testing of
                    prototypes.</div>
            </div>
        </div>

    </body>
{% endblock %}