.header_main {
    text-align: left;
    font-size: 65px;
    background: url("images/IV_drip.jpg") no-repeat top center;
    background-size: cover;
    padding: 5% 0% 1% 5%; /* top right bottom left */
    font-family: "Avenir Medium";
}
.header_main .subtext {
    margin: 0;
    text-align: left;
    font-size: 25px;
    padding: 0% 0% 7.5% 0%;
}

.p1_homepage {
    font-size: 20px;
    padding: 5% 0% 0% 10%;
    font-family: "Gill Sans", "Trebuchet MS";
    color: #19469e;
}
.heading {
    font-family: "Gill Sans";
    text-align: left;
    font-size: 50px;
    padding: 0% 0% 0% 10%;
    display: inline-block;
}

.trio_boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 1% 0%;
}
.box {
    background-color: #427ced;
    font-family: "Avenir Medium";
    font-size: 20px;
    color: white;
    border-radius: 3px;
    width: 20%;
    height: 20%;
    aspect-ratio: 1 / 1;
    text-align: center;
    box-shadow: 2px 3px 3px #19469e;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.num_large {
    font-family: "Avenir Medium";
    font-weight: 800;
    font-size: 45px;
    color: white;
    justify-content: center;
    align-items: center;
}
.people {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 2.5%;
    width: 10%;
}

/* Copy pasted this whole schebang from leakage.css to be used on the homepage */
.heading_left {
    font-family: "Gill Sans", "Avenir Medium";
    text-align: left;
    font-size: 50px;
    padding: 0 0 0 10%;
    display: inline-block;
}
.subheading_left {
    font-size: 20px;
    padding: 5% 0% 0% 10%;
    font-family: "Gill Sans", "Avenir Medium";
    color: #19469e;
}
.content_right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.subheading_right {
    font-size: 20px;
    padding: 2.5% 10% 0% 0%;
    font-family: "Gill Sans", "Avenir Medium";
    color: #19469e;
    text-align: right;
}
.heading_right {
    font-family: "Gill Sans", "Avenir Medium";
    text-align: right;
    font-size: 50px;
    padding: 0% 10% 0% 0%;
    /*display: inline-block;*/
}
.leakage_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 2.5% 5%;
}
.leakage_content .text_left {
    font-family: "Avenir Medium";
    text-align: justify;
    font-size: 25px;
    width: 50%;
}
.leakage_content .text_right {
    font-family: "Avenir Medium";
    text-align: justify;
    font-size: 25px;
    width: 50%;
}
.leakage_content .image_left {
    width: 50%;
}
.leakage_content .image_right {
    width: 40%;
}
hr {
    border: none;
    height: 3px;
    margin: 0;
    background-color: black;
    width: 100%;
}

.iv_equipment {
    height: 17.5%;
    background: url("images/IV_Equipment_Long.jpeg") no-repeat top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0% 7.5% 0% 0%;
}
.iv_equipment .text1{
    font-family: "Avenir Medium";
    font-size: 30px;
    text-align: center;
}
.iv_equipment .text2{
    font-family: "Avenir Medium";
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.blue_heading {
    text-align: center;
    font-family: "Gill Sans";
    font-size: 55px;
    text-weight 500;
    color: #19469e;
    padding: 5% 0% 0% 0%;
}
.p1 {
    padding: 2.5% 10%;
    font-size: 25px;
    font-family: "Trebuchet MS";
    text-align: justify;
}

.four_boxes {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
.four_box {
    background-color: white;
    font-family: "Gill Sans", "Trebuchet MS";
    font-size: 40px;
    font-weight: 700;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.construction {
    background-color: #061d4a;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 30px;
    padding: 50px 0px 50px 100px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

/*.image_pair {
    display: flex;
    flex-direction: row;
    flex-align: center;
    margin: 0;
    gap: 10px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.image_pair .a .img { *//* trying to make two images span the entire width of the screen and both be links. *//*
    margin: 0;
    border: 10px;
    width: 100%;
}*/

/*
.iv_diagram {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.iv_diagram .text {
    font-family: "Trebuchet MS";
    text-align: left;
    font-size: 30px;
    padding: 0px 150px 0px 50px;
}
.iv_diagram .image {
    padding: 0px 0px 0px 100px;
}
.iv_diagram .text2 {
    font-family: "Trebuchet MS";
    text-align: justify;
    font-size: 25px;
    padding: 20px 25px 50px 200px;
}*/

/* All of the general formatting items */
body {
    margin: 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}
main {
    flex: 1;
}

/* adding decorative stripes to the very top of the page */
.topborder_black {
    background-color: black;
    height: 25px;
    flex-shrink: 0;
}
.topborder_blue {
    background-color: #19469e;
    height: 5px;
    flex-shrink: 0;
}

/* making edits to the top navigation bar */
.topnav {
    background-color: white;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.topnav .links {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.topnav .links a {
    text-decoration: none;
    color: #061d4a;
    font-size: 18px;
    font-family: "Avenir Medium";
}
.topnav .links a:hover {
    color: #51588c;
}
.topnav .contact a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: "Avenir Medium";
    padding: 10px 30px;
    background-color: #427ced;
    border-radius: 20px;
}

/* making edits to the bottom navigation bar */
footer {
    background-color: #061d4a;
    height: 300px;
    flex-shrink: 0;
}
footer a {
    float: left;
    color: white;
    text-align: left;
    padding: 10px 45px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Trebuchet MS";
}
footer a:hover {
    color: #b8cffc;
}
footer img {
    padding: 25px 0px 0px 0px;
}
footer .footer_links {
    display: flex;
    flex-direction: column;
    flex-align: right;
    padding: 25px 0px;
}
