body {
    margin: 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

main {
    flex: 1;
}

/* adding decorative stripes to the very top of the page */
.topborder_black {
    background-color: black;
    height: 25px;
    flex-shrink: 0;
}
.topborder_blue {
    background-color: #19469e;
    height: 5px;
    flex-shrink: 0;
}

/* making edits to the top navigation bar */
.topnav {
    background-color: white;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.topnav .links {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.topnav .links a {
    text-decoration: none;
    color: #061d4a;
    font-size: 18px;
    font-family: "Avenir Medium";
}
.topnav .links a:hover {
    color: #51588c;
}
.topnav .contact a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: "Avenir Medium";
    padding: 10px 30px;
    background-color: #427ced;
    border-radius: 20px;
}

/* making edits to the bottom navigation bar */
footer {
    background-color: #061d4a;
    height: 300px;
    flex-shrink: 0;
}
footer a {
    float: left;
    color: white;
    text-align: left;
    padding: 10px 45px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Trebuchet MS";
}
footer a:hover {
    color: #b8cffc;
}
footer img {
    padding: 25px 0px 0px 0px;
}
footer .footer_links {
    display: flex;
    flex-direction: column;
    flex-align: right;
    padding: 25px 0px;
}

.heading_left {
    font-family: "Gill Sans", "Trebuchet MS";
    text-align: left;
    font-size: 50px;
    padding: 0px 0px 0px 200px;
    display: inline-block;
}

.subheading_left {
    font-size: 20px;
    padding: 75px 200px 0px 200px;
    font-family: "Gill Sans", "Trebuchet MS";
    color: #19469e;
}

.content_right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.heading_right {
    font-family: "Gill Sans", "Trebuchet MS";
    text-align: right;
    font-size: 50px;
    padding: 0px 200px 0px 0px;
    display: inline-block;
}

.subheading_right {
    font-size: 20px;
    padding: 50px 200px 0px 0px;
    font-family: "Gill Sans", "Trebuchet MS";
    color: #19469e;
    text-align: right;
}

.leakage_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.leakage_content .text_left {
    font-family: "Trebuchet MS";
    text-align: justify;
    font-size: 25px;
    padding: 20px 25px 0px 200px;
}
.leakage_content .image_left {
    padding: 0px 0px 0px 100px;
}
.leakage_content .text_right {
    font-family: "Trebuchet MS";
    text-align: justify;
    font-size: 25px;
    padding: 20px 200px 50px 25px;
}
.leakage_content .image_right {
    padding: 0px 0px 0px 50px;
}

.header_swelling {
    padding: 100px;
    text-align: center;
    background-color: #b8cffc;
    font-size: 75px;
    font-family: "Gill Sans";
    background-size: cover;
}

ul.arrow_bullets {
    list-style-type: none;
    padding-left: 0;
}
ul.arrow_bullets li {
  background: url('images/arrow_bullet.png') no-repeat left top;
  background-size: 25px 15px;
  padding-left: 45px;
  background-position: left 0px top 10px;
  margin-bottom: 8px;
}

hr {
    border: none;
    height: 3px;
    margin: 0;
    background-color: black;
    width: 100%;
}

.construction {
    background-color: #061d4a;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 30px;
    padding: 50px 0px 50px 100px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}